.full-width{
  width: 96%;
  width: -webkit-fill-available;
  padding-left: 2%;
  padding-right: 2%;
}

.pointer{
 cursor: pointer;
}
.snackbar {
  background-color: #ff4081 !important;
  color: #fff !important;
}
