/* Structure */
.main {
  display: flex;
  flex-direction: column;
  /*position: absolute;*/
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 100vh;
}

.footer {
  /*position:absolute;*/
  bottom:0;
  /*width:100%;*/
  /*height:60px;   !* Height of the footer *!*/
  /*background:#6cf;*/
}

.content-padding{
  padding: 20px;
}

.margin {
  margin: 20px;
}

.list .selected{
  background-color: #ea4744;
}

.example-spacer {
  flex: 1 1 auto;
}

.pointer-cursor {
  cursor: pointer;
}
