<div class="main" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="example-app-name pointer-cursor" (click)="home()">{{title}}</h1>
    <span class="example-spacer"></span>
    <button mat-icon-button style="float: right; " (click)="login()" *ngIf="!authenticated">
      <mat-icon>send</mat-icon>
    </button>
    <button mat-icon-button style="float: right; " (click)="logout()" *ngIf="authenticated">
      <mat-icon >exit_to_app</mat-icon>
    </button>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0"
                         [style.marginBottom.px]="mobileQuery.matches ? 56 : 0">
    <!--Sidebar-->
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <section class="mat-typography margin" color="primary">
        <h1>{{titleSidebar}}</h1>
      </section>
      <mat-divider></mat-divider>
      <mat-nav-list class="list">
          <a mat-list-item routerLink="{{nav.path}}"  routerLinkActive="active" *ngFor="let nav of navigation" >{{nav.name}}</a>
      </mat-nav-list>
    </mat-sidenav>
    <!--Sidebar ends-->

    <!--Main Content Area-->
    <mat-sidenav-content class="content-padding">


      <router-outlet></router-outlet>
      <!-- Routed views go here -->

      <span class="done">
         <button mat-fab>
          <mat-icon>check circle</mat-icon>
        </button>
      </span>

    </mat-sidenav-content>
    <!--Main content area ends-->
  </mat-sidenav-container>

  <!--Footer-->
  <mat-toolbar color="accent" class="footer">
    <p class="example-app-name">&copy; CiviMech Engineering, Developed by <a href="http://www.vikashverma.com" target="_blank"> Vikash</a></p>
  </mat-toolbar>
  <!--Footer ends-->
</div>
